<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Вычисление объёмов геометрических фигур с заданной точностью</title>
    </head>
    <body>
        <form name="figures" action="figure" method="POST" >
            <p>Выберите геометрическую фигуру:
                <select name="cmb_figures">
                    <option value="cube">Куб</option>
                    <option value="prism">Призма</option>
                    <option value="parallel">Параллелепипед</option>
                    <option value="rect_parallel">Прямоугольный параллелепипед</option>
                    <option value="pyramid">Пирамида</option>
                    <option value="tetra">Правильный тетраэдр</option>
                    <option value="cylinder">Цилиндр</option>
                    <option value="cone">Конус</option>
                    <option value="ball">Шар</option>
                </select>
            </p>
            <p>
                <button onclick="submit();">
                    Продолжить
                </button>
            </p>
        </form>
    </body>
</html>