<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Объём пирамиды</title>
</head>
<body>
    <form action="pyramid" method="post">
        <p>
            Введите площадь основания пирамиды:
            <input type="number" name="base_sq">
        </p>
        <p>
            Введите высоту пирамиды:
            <input type="number" name="height">
        </p>
        <p>
            Введите точность вычислений:
            <input type="number" name="precision">
            знаков после запятой
        </p>
        <p>
            <button onclick="submit();">Вычислить!</button>
        </p>
    </form>
    <p>
        {{square}}
    </p>
    <form action="/" method="get">
        <button onclick="submit();">Назад</button>
    </form>
</body>
</html>